*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 16, 16);
    height: 100vh; 
}
.btn-start{
    margin-top: auto;
    margin-bottom: auto;
    background-color: blue;
    padding: 5px;
}
h3 {
    text-align: center;
}
.switch {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 50%;
    margin: 0 auto;
    height: auto;
    align-items: center;
    color: white;
    border: 1px solid white;
}
#question {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    height: 100%;
}
.active {
    background-color: rgb(0, 183, 255); 
    border: none;
}
.btn-controle {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}
.btn-controle button {
    padding: 5px;
}
.btn {
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.options-group{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 0.5rem;
    margin: 10px;
    
}